name: Terraform Plan

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for Workload Identity Federation
  contents: read # Required to fetch code

jobs:
  terraform:
    name: Terraform Plan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          token_format: "access_token"
          workload_identity_provider: "projects/494432944003/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "terraform-github@main-nucleus-418523.iam.gserviceaccount.com"

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.4.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan
